<div class="settings-value-container">
    <label>
        <input id="settings-value-id-{{id}}" type="text" placeholder="{{valueDefault}}" name="settings-value-name-{{id}}" value="{{value}}" oninput="cronJobToText('settings-value-id-{{id}}', 'settings-value-id-{{id}}-text')">
        <input class="settings-value-container-cron-job-explanation" id="settings-value-id-{{id}}-text" type="text" value="{{cronJobExplanation}}" onmousedown='return false;' onselectstart='return false;' readonly>
    </label>
</div>
