<li class="ilias-entry ilias-entry-file">
    <p class="ilias-entry-course">{{course}}</p>
    <p class="ilias-entry-course-directory">{{#each courseDirectory}}{{this}}{{#unless @last}} >> {{/unless}}{{/each}}</p>
    <div class="container">
        <object class="ilias-entry-file-icon" data="./images/ilias-entries/file-icon.svg" type="image/svg+xml"></object>
        <p class="ilias-entry-file-name">{{options.file.fileName}}</p>
    </div>

    <div class="ilias-entry-description">{{{description}}}</div>
    <div class="container-link-date">
    <button class="ilias-entry-link-button" onclick="openExternal('{{link}}')">Link</button>
    <p class="ilias-entry-date"><time datetime="{{date.unix}}">{{date.humanReadable}}</time></p>
    </div>
</li>
